# Logs
logs
*.log
.*_history
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage
jscoverage/JSCover
lib-cov
coverage
.nyc_output

# Otherd
.grunt

.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependencies
node_modules
jspm_packages
.npm
.node_repl_history
package-lock.json
